@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray-200: #e5e7eb;
  --slate-200: #e2e8f0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--slate-200);
}

.custom-file-input::-webkit-file-upload-button {
  width: 0.5rem;
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Browse Image';
  display: inline-block;
  background: var(--gray-200);
  border-radius: 0.5rem;
  padding: 0.4rem 1rem;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.8rem;
}